/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
html, body {
    height: 100%;
    margin: 0;
    display:flex;
    flex-direction: column;
}
.grid {
    display:grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; /*altura de la pantalla*/
    }
header{ 
    width: 100%;
    background-color: peachpuff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img{
        width: 102px;
        margin: 0%;
        }
    .nav-links{ 
        display: flex;
        gap: 10px; /* Espacio entre los textos */
        padding-left: 10px;
        }

    .nav-links a{
        font-family: Indie Flower;
        font-size: 1.5rem;
        color: #eb7d25;
        margin-left: 20px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }
    .nav-links a:hover{ /*paso por encima cambia de color*/
        color:blueviolet; /*background-color: y aca el color o hex; -- esto es para que aparezca un recuadrode ese color al pasar el mouse*/
    } 

}

main{
    .div-imagen{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /*con autofit mantengo el diseño aunque achique o agrande la pantalla*/
        text-align: center;
        gap: 1px;
        padding: 10px;
        justify-items: center;
        }
        
    .imagen{
        display: flex;
        width: 410px;
        height: 250px;
        padding: 4px;
        transition: transform 0.2s ease;
            }
    .imagen:hover{
        transform: scale(1.1);
        }

    .text{
        font-family: Indie Flower;
        font-weight: bold;
        font-size: 1.1rem;
        color: #df8484;
        margin-top: 10px;
        /*transition-duration: 10s;*/
        }
    /*.text:hover{
        transform: rotate(11.1rem);
    }*/
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    grid-area: footer;
}
    .SocialMedia {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .social-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-item i {
        font-size: 24px;
        color: #f06969;
        margin-bottom: 5px;
    }

    .social-item p {
        margin: 0;
        font-size: 14px;
        color: #333;
    }
    p{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.7rem;
    }

@media (max-width: 768px) {
    .div-imagen {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 5px;
    }

    header {
        flex-direction: row; 
        align-items: center;
        justify-content: space-between; 
        padding: 5px 10px;
        }
        
        .nav-links {
        gap: 10px; 
        }
        
        .nav-links a {
            font-size: 1.2rem; 
        }
        
        img {
            width: 70px; 
        }
    }
