body{
    header{ 
        background-color: peachpuff;
        margin: -1%;
        img{
            width: 102px;
            margin: 2%;
            
        }
        
        nav{
            font-family: Indie Flower;
            font-size: 180%;
            color: #eb7d25;
            float: right;
            margin: 1%;
            margin-top: 4%;
            margin-right: 8%;
            font-weight: bold;
            
        }
        nav:hover{ /*paso por encima cambia de color*/
            color:blueviolet;
            /*background-color: y aca el color o hex; -- esto es para que aparezca un recuadrode ese color al pasar el mouse*/
        } 

    }
}

